header{
    
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    width: 100%;
    height: auto;
}
.text{
    flex: 1;
}
.main-text {
    color: #272727;
    font-family: Lato;
    
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0%;
    padding: 80px;
}
.main-text>h2{
    font-size: 80px;
}
.main-text>p{
    font-size: 20px;
}
.header-image{
    width: 635px;
    height:800px;
    padding-top: 80px;
    padding-right: 120px;
    
    
    
    
}
.btn-primary{
    border-radius: 8px;
    background:#E55473;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
}