header{
    
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    width: 100%;
    height: auto;
}
.text{
    flex: 1;
}
.main-text {
    color: #272727;
    font-family: Lato;
    
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0%;
    padding: 80px;
}
.main-text>h2{
    font-size: 80px;
}
.main-text>p{
    font-size: 20px;
}
.header-image{
    width: 635px;
    height:800px;
    padding-top: 80px;
    padding-right: 120px;
    
    
    
    
}
.btn-primary{
    border-radius: 8px;
    background:#E55473;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
}
.featured-text{
    text-align: center;
}
.headline{
    color: #272727;
    font-size: 40px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 0px;
}
.featured-text>p{
    color: #272727;
    font-size: 20px;
    font-family: Lato;
    
}
.featured-image{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   

}
.featured-image1{
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 15px;
    height: 428px;
    width: 310px;

}
.featured-image2{
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 15px;
    height: 428px;
    width: 310px;
}
.featured-image3{
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 15px;
    height: 428px;
    width: 310px;
}
.label{
    text-decoration: underline;
}
.hot-deals{
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    width: 100%;
    height: 520px;
    padding: 10px;
}
.hot-deals-text{
    text-align: center;
    padding: 50px;
    margin-left: 80px;
    margin-right: 80px;
}
.hot-deals-text>h5{
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 0px;
    
}
.span1{
    color: #E55473;
}
.hot-deals-image{
    height: 318px;
    width: 420px;
    padding: 50px;
    margin-left: 20px;
    margin-right: 110px;
}

.social{
    max-width: 1440px;
    margin: 50px;
    
}
.social-text{
    text-align: center;
}
.social-image{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 240px;
    padding-right: 240px; */
 
    
   

}
.social-image1{

    
    margin: 10px;
    height: 396px;
    width: 275px;

}
.social-image2{
    margin: 10px;
    height: 396px;
    width: 275px;

}
.social-image3{
    margin: 10px;
    height: 396px;
    width: 275px;

}
.social-image4{
    margin: 10px;
    height: 396px;
    width: 275px;
    

}
.newseteller{
    background-image: url("./asset/Rectangle 9.png");
   
    background-repeat: no-repeat;
    
    max-width: 1440px;
    height: 450px;
    margin: 115px;
}
.newseteller-text{
    text-align: center;
    padding: 60px;
}
.newseteller-text>h3{
    font-size: 40px;
    padding-bottom: 10px;
    
}
.input-field{
    width: 600px;
    height: 58px;
}